img {
  border-radius: 1%;
  -webkit-box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.48);
  -moz-box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.48);
  box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.48);
  transition: .2s all linear;
}

.movie {
  h6 {
    margin-top: 1.25rem;
  }
  img:hover {
    transform: scale(1.05);
    border-radius: 4%;
    -webkit-box-shadow: -9px 2px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 2px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -9px 2px 9px 0px rgba(0, 0, 0, 0.75);
  }
}